<div style="position: fixed; right: 0; left: 0; z-index: 5">
  <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="background:#F0FFFF; height: 70px; border: 0; margin-right: 15px;">
    <div class="container-fluid">
      <div class="full-block">
        <div class="row">
          <div class="col-lg pull-right">
            <div class="line">
              <div class="image-profile">
                <img width="50" src="25.png" alt="Profile Avatar" />
              </div>
            </div>
            <div class="line">
              <div class="text-role">
                Администратор
              </div>
            </div>
            <div class="line">
              <div class="button-options">
                <a [routerLink]='["/"]'>
                  <img width="30" src="u21.png" alt="Profile Options" />
                </a>
              </div>
            </div>
            <div class="line">
              <div class="button-exit">
                <a [routerLink]='["/"]'>
                  <img width="30" src="u19.png" alt="Profile Exit" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>