.full-block {
  margin-top: 80px;
}

.image-profile {
  margin-bottom: 30px;
}
.profile-header {
  padding-bottom: 18px;
}

.profile-info-border {
  border-style: groove;
  background-color: white;
  padding-right: 14px;
}

.profile-info {
  margin: 40px;
  padding-left: 8px;
  padding-bottom: 20px;
}

.btn {
  margin-bottom: 70px
}

.line_color_black {
  margin-top: 0px;
  margin-bottom: 6px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.text-name-section {
  font-family: 'Helvetica Regular', 'Helvetica';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 7px;
  margin-top: 17px;
}
.profile-header__text {
  font-family: 'Helvetica Regular', 'Helvetica';
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

.text-name-person {
  font-family: 'Helvetica Regular', 'Helvetica';
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

.text-name-content {
  font-family: 'Helvetica Regular', 'Helvetica';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 7px;
}

.text-name-content-div {
  font-family: 'Helvetica Bold', 'Helvetica';
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  margin-bottom: 6px;
  margin-top: 7px;
}
