<div class="container-fluid">
    <div class="profile_all">
        <div class="profile_header">
            <span class="text_name_header">Профиль</span>
        </div>
        <div class="profile_info_border" style="background-color: white;">
            <div class="profile_info">
                <div class="row">
                    <div class="col-lg-3">
                        <img width="250" alt="Profile Avatar" src="25.png" style="margin-bottom:30px;"/>
                    </div>
                    <div class="col-lg-9">
                        <p><span class="text_name_person">{{name}}</span></p>
                        <button type="button" class="btn btn-primary btn-md" style="margin-bottom:70px">Редактировать профиль</button>
                        <p><span class="text_name_section">Перечень читаемых дисциплин</span></p>
                        <hr>
                        <span class="text_name_content">Биология, химия</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <p><span class="text_name_section">Краткая биография (интересные факты)</span></p>
                        <hr>
                        <span class="text_name_content">Автор рабочей программы по дисциплине «Биотехнология агроценозов». Под его руководством выполнены и защищены 2 бакалаврских и 3 магистерские работы студентов кафедры микробиологии СПб Государственного Университета и кафедры промышленной</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>